mixin collapsible-row(header, badge_num)
	li
		div.collapsible-header.waves-effect.waves-color-indigo= header
			if (badge_num > 0)
				span.badge.hide-on-small-only= badge_num
		div.collapsible-body
			if block
				block

mixin collapsible-row-active(header, badge_num)
	li
		div.collapsible-header.active.waves-effect.waves-color-indigo= header
			if (badge_num > 0)
				span.badge.hide-on-small-only= badge_num
		div.collapsible-body
			if block
				block


mixin collapsible-row-with-icon(icon, header, badge_num)
	li
		div.collapsible-header.waves-effect.waves-color-indigo= header
			if (badge_num > 0)
				span.badge.hide-on-small-only= badge_num
		i(class= icon)= header
		div.collapsible-body
			if block
				block

mixin collapsible-row-with-icon-active(icon, header, badge_num)
	li
		div.collapsible-header.active.waves-effect.waves-color-indigo= header
			if (badge_num > 0)
				span.badge.hide-on-small-only= badge_num
		i(class= icon)= header
		div.collapsible-body
			if block
				block
